<div class="large-6 columns">
  <div class="submission">
    <p><em>This path: </em><%= adventure.choice %></p>
    <p><em>Leads to this story: </em><%= adventure.story %></p>
    <% if user_signed_in? %>
      <%= render partial: 'submission_links', locals: {adventure: adventure} %>
    <% end %>
  </div>
</div>