<div class="submission" id="submission<%= adventure.id %>">
  <div class="row">
    <div class="small-2 columns">
      <% if user_signed_in? %>
        <%= render partial: 'submission_links', locals: {adventure: adventure} %>
      <% end %>
    </div>
    <div class="small-10 columns">
      <em><%= adventure.choice %></em>
      <p><%= adventure.story %></p>
    </div>
  </div>
</div>
