<ul class="inline-list">
  <li>
    <small><%= link_to "Up", like_adventure_path(adventure), method: :put %></small>
    <small><%= link_to "Down", dislike_adventure_path(adventure), method: :put %></small>
  </li>
  <li>
    <%= adventure.get_rank %>
  </li>
  <li>
   <%if current_user.admin? || current_user.id == adventure.user_id %>
      <%= button_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' }, data: { disable_with: 'Deleting...' }, :class => "button [tiny small large]"  %>
    <% end %>
  </li>
</ul>