<div class="row">
  <div class="small-6 small-centered columns">
    <h4>Dandelion?</h4>
    <p>
      The name for Dandelion comes from the image of blowing on a dandelion puff and the seeds carried along by the wind. In the same manner, the adventures here will spread and spread, carried by the wind!
    </p>
    <h4>Adventure?</h3>
    <p>
      Dandelion is a choose your own adventure app. As you navigate through the story you will make choices about which path to take. Once you reach the end of a story, you can share your idea for what should happen next. Then you can vote on other people's stories and the top two choices will be published. This way the adventure can grow indefinitely.
    </p>
    <h4>Publishing?</h3>
    <p>
      Popular adventures are published everyday. What this means is if an adventure gets enough voting, then that night the top submissions will be published.
      Otherwise, all submissions will be published every Friday, regardless of how much voting they receive.
    </p>
    <h4>Appropriate?</h3>
    <p>
      Content submitted here should be appropriate for all audiences. A general guideline to follow is if you are unsure if it's appropriate, it probably isn't!
    </p>

  </div>
</div>