<div class="row">
  <div class="small-9 small-centered columns story">
    <p class="adventure"><%= @adventure.story %></p>
  </div>
</div>

<div class="row">  
  <% @adventure.children.each do |child| %>
  <div class="small-5 columns choice"> 
    <div class="row"> 
      <p class="adventure"><%= child.choice %></p>
    </div>
    <div class="small-6 small-centered columns">
      <%= link_to 'Choose this path', child, :class => "button" %>
    </div>
  </div>
  <% end %>
</div>
<div class="row">
  <% if @adventure.pending? %>
  	<%= link_to 'Continue the adventure!', new_adventure_path(:id => @adventure.id), :class => "button" %>
  <% end %>
</div>