<div class='row'>
  <div class='small-12 columns'>
    <%= @book.title %>
    <%= @book.banner %>
    <%if current_user.admin? || current_user.id == @book.user_id %>
       <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
