// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nested_adventures {
  margin-left: 20px;
}

.submission {
  background-color: #D8D8D8;
  // width: 200px;
  // height: 200px;
  float: left;
  margin: 5px;
  padding-left: 5px;
  border-radius: 1px;
  min-width: 30em;
  text-align: center;
}

.submission-button{

}

a.submission-button:link {color:#000000;}      /* unvisited link */
a.submission-button:visited {color:#000000;}  /* visited link */
a.submission-button:hover {color:#000000;}  /* mouse over link */
a.submission-button:active {color:#000000;}  /* selected link */

.divider {
  border: none; 
  border-bottom: 1px solid #6E6E6E;
}

.story {
  background-color: #A9BCF5;
  margin: 5px;
  padding-left: 5px;
  border-radius: 1px;
  text-align: center;
}

.choice {
  background-color: #D8D8D8;
  border-radius: 1px;
  text-align: center;
}

.adventure{
  font-size: 1em;
  font-family: "Verdana, Geneva", sans-serif;
}


.image-preview{
  border-radius: 5px;
  max-width: 150px;
}