// Place all the styles related to the adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nested_adventures {
  margin-left: 20px;
}

.submission {
  background-color: #D8D8D8;
  margin: 5px;
  padding-left: 5px;
  border-radius: 1px;
  text-align: center;
}

.submission-button{

}

a.submission-button:link {color:#000000;}      /* unvisited link */
a.submission-button:visited {color:#000000;}  /* visited link */
a.submission-button:hover {color:#000000;}  /* mouse over link */
a.submission-button:active {color:#000000;}  /* selected link */

.divider {
  border: none; 
  border-bottom: 1px solid #6E6E6E;
}

.story {
  margin: 5px;
  border-radius: 1px;
  text-align: center;
}

.choice {
  background-color: #D8D8D8;
  border-radius: 1px;
  text-align: center;
}

div.choice p{
  margin: 0;
  padding: 0;
}

/*Fade all DIV when hovers on any div*/
.choices:hover .choice{
  filter: alpha(opacity=45);
  opacity: 0.45;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

/*Fade in particular DIV when hover on that DIV*/
.choices .choice:hover{
  box-shadow: 3px 3px 15px #666;
  border-color:#C76C0C;
  background: white;
  
  /*Opacity*/
  filter: alpha(opacity=100);
  opacity: 1;
}

.backstory{
  margin-top: 10px;
  padding: 5px;
  background-color: #D8D8D8;
  border-radius: 1px;
  text-align: center;
}

.backstory:hover{
  box-shadow: 3px 3px 15px #666;
  border-color:#C76C0C;
  background: white;
  
  /*Opacity*/
  filter: alpha(opacity=100);
  opacity: 1;
}

.image-preview{
  border-radius: 5px;
  max-width: 150px;
}