/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require foundation 
 */

// body 
// {
//   background-color: red;
// }
 
.header {
  text-align: center;
  margin-bottom: 55px;
}

#header {
  float:left;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100rem;
  background: rgb(201,222,150); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(201,222,150,1) 0%, rgba(138,182,107,1) 44%, rgba(57,130,53,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,222,150,1)), color-stop(44%,rgba(138,182,107,1)), color-stop(100%,rgba(57,130,53,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(201,222,150,1) 0%,rgba(138,182,107,1) 44%,rgba(57,130,53,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.85);
  -moz-box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.85);
  box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.85);
}

#header-title{
  /* unvisited link */
  a:link {
  color: white;
  }

  /* visited link */
  a:visited {
  color: white;
  }

  /* mouse over link */
  a:hover {
  color: white;
  }

  /* selected link */
  a:active {
  color: white;
  }
}

#login {
  background: #F2F2F2;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
}

.top-bar{
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.container{
  background: white;
  width: 80%;
}
