<div class='row'>
  <div class='small-12 columns'>
    <%= @adventure_collection.title %>
    <%= @adventure_collection.banner %>
  </div>
</div>
<div class="row">
  <div class="small-12 large-8 small-centered columns">
    <% if @adventure_collection.adventures.blank? %>
      <%= link_to 'Add a story', new_adventure_path, :id => "new_link", :class => "button", remote: true  %>
    <% end %>
  </div>
</div>