<div class="footer">
  <div class="line">
    <p class="nav"><%= link_to 'Home', root_path %> | <%= link_to 'About Dandelion', about_path %></p>
  </div>
  <small>Copyright 2014. All rights reserved.</small>
</div>