<div class="row">
  <div class="small-3 small-centered columns">
    <%= link_to 'Home', root_path %> | <%= link_to 'About Dandelion', about_path %>
    <p><small>Copyright 2014. All rights reserved.</small></p>
  </div>
</div>